header .logo {
  color: white;
  font-family: 'Audiowide', Arial, Helvetica, sans-serif;
  float: left;
}

#navbar {
  overflow: hidden;
  background: var(--c-blk);
  line-height: 60px;
}

#navbar .container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 8px;
}

#navbar ul {
  float: right;
}

#navbar li {
  float: left;
  width: 100px;
  text-align: center;
}

@media (max-width:500px) {
  header .logo {
    float: none;
    text-align: center;
  }
  #navbar .container {
    padding: 0;
  }
  #navbar ul {
    float: none;
    display: flex;
    flex-direction: row;
  }
  #navbar li {
    flex: 1;
  }

}

#navbar li a {
  font-weight: bolder;
  display: block;
  color: white;
}

#navbar li a:hover, #navbar a.current {
  color: var(--c-second);
  background-color: #A0A0A050;
}
