:root {
  --c-prime: #C42035;
  --c-second: #F77;
  --c-blk: #2A2A2A;
  --c-overlay: #0C0A3E70;

  --max-width: 900px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}